.TodoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.1);

  margin: 0 auto;
  margin-bottom: 10px;

  border-radius: 25px;

  .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;

    svg {
      font-size: 1.5rem;
    }

    .text {
      margin-left: 0.5rem;
      flex: 1;
    }

    // 체크 되었을 때
    &.checked {
      svg {
        color: #22b8cf;
      }
      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    &:hover {
      color: #ff8787;
    }
  }

  
}