@import "../assets/fonts/fonts.css";

// 드래그 금지
h1, h3, span {
  // 드래그 금지
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

span {
  // font 
  font-family: "GmarketSansTTFBold";
  font-size: 5rem;
  font-weight: 600;
  color: white;

  position: relative;
  text-align: center;
}

h3 {
  // font 
  font-family: "BMJUA";
  font-size: 2rem;
  font-weight: 400;
  color: white;
}